.AllDeals-main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.all-deals-header {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
}

.AllDeals-body {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 100px;
}

.AllDeals-body-container {
    width: 100%;
    display: flex;
    gap: 30px 30px;
    flex-wrap: wrap;
}

.AllDeals-body-container-wrapper {
    width: 1180px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    gap: 30px;
    align-items: flex-end;
    padding: 30px;
    background: white;
}

.AllDeals-deals {
    width: 200px;
    border-radius: 8px;
    border: 1px solid #979797;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 12px 12px 14px 12px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.AllDeals-deals:hover {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.AllDeals-deals:hover > .AllDeals-cards {
    transform: scale(1.03);
}

.AllDeals-deals-img {
    width: 100%;
}

.AllDeals-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.AllDeals-price {
    font-weight: 600;
    font-size: 20px;
    color: #ffc400;
    display: flex;
    gap: 4px;
    align-items: center;
}

.AllDeals-cards {
    display: flex;
    flex-direction: column;
}

.AllDeals-time {
    font-size: 14px;
    font-weight: 500;
    color: #58555b;
}