.AllDeals-main-content{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.AllDeals-body{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 100px;
}

.AllDeals-body-container {
    width: 1180px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    gap: 30px 30px;
    flex-wrap: wrap;
}

.AllDeals-deals {
    width: 200px;
    border-radius: 8px;
    border: 1px solid rgb(213, 213, 213);
    display: flex;
    flex-direction: column;
    padding: 18px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.AllDeals-deals:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}

.AllDeals-deals-img {
    width: 164px;
}

.AllDeals-bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.AllDeals-buy{
    width: 70px;
}

.AllDeals-price{
    font-weight: 700;
    font-size: 20px;
    color: green;
}