.body-session {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 100px;
}

.body-container-wrapper {
  width: 1180px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  gap: 30px;
  align-items: flex-end;
  padding: 30px;
  background: white;
}

.all-cards-header-title {

}

.all-cards-search-options {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 12px;
}

.all-cards-header {
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  width: 100%;
  border-radius: 8px;
  display: flex;;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body-container {
  width: 100%;
  display: flex;
  gap: 30px 30px;
  flex-wrap: wrap;
}

.not-found {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.cards {
  width: 200px;
  border-radius: 8px;
  border: 1px solid #979797;
  display: flex;
  flex-direction: column;
  padding: 12px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.cards-img {
  width: 100%;
}

.cards-img-wrapper {
  display: flex;
  position: relative;
}

.cards-quantity {
  position: absolute;
  left: 0px;
  padding: 4px 16px;
  background: rgba(110, 110, 110, 0.8);
  font-weight: 600;
  color: white;
  bottom: 0px;
  clip-path: polygon(0 0, 65% 0, 100% 35%, 100% 100%, 0 100%);
}

.cards-on-deal {
  position: absolute;
  top: 20px;
  left: 54%;
  background: #ffc400;
  transform: rotate(45deg);
  z-index: 1;
  padding: 0px 32px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}

.card-name {
  height: 36px;
  font-size: 12px;
  line-height: 18px;
}

.rarity {
  color: white;
  font-weight: 500;
  width: 40px;
  padding: 0px 4px;
  clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
  font-size: 14px;
  height: 18px;
  display: flex;
  align-items: center;
}

.UR {
  background-image: linear-gradient(
    120deg,
    rgb(184, 3, 255),
    rgb(27, 202, 255)
  );
}

.SR {
  background-image: linear-gradient(120deg, rgb(229, 111, 0), rgb(255, 200, 0));
}

.R {
  background-image: linear-gradient(
    120deg,
    rgb(22, 22, 181),
    rgb(27, 202, 255)
  );
  padding-left: 8px;
}

.N {
  background-image: linear-gradient(
    120deg,
    rgb(48, 48, 48),
    rgb(203, 203, 203)
  );
  padding-left: 8px;
}
