.bubbles-screen {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    background: red;
    height: 100%;
    padding: 64px;
    background: #F8F8F8;
}

.bubble {
    position: relative;
    background: rgba(181, 137, 198, 0.3);
    border-radius: 50%;
    box-shadow: inset 0px 0px 25px #7400cc;
}