.CardDetails {
    position: fixed;
    padding: 48px 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(5px);
}
  
.CardDetails-content {
    position: relative;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
    color: black;
    display: flex;
    height: 800px;
    gap: 30px;
}

.CardDetails-close{
    cursor: pointer;
    display: flex;
    justify-content: right;
    font-size: 30px;
    color: white;
}

.CardDetails-Image > img{
    width: 500px;
}

.CardDetails-info > div{
    display: flex;
    gap: 30px;
    justify-content: start;
    align-items: center;
}

.CardDetails-CardName-infoLabel{
    font-size: 40px;
    font-weight: 600;
}

.CardDetails-CardName-infoName{
    font-size: 35px;
}

.CardDetails-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

