.CardDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.CardDetails-content {
    position: relative;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    max-height: 800px;
    min-height: 300px;
    gap: 30px;
    overflow: hidden; /* Prevent content overflow */
}

.CardDetails-close {
    cursor: pointer;
    align-self: flex-end; /* Align to the end of the container */
    font-size: 30px;
    color: white;
}

.CardDetails-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1; /* Allow the info section to grow to fill available space */
}

.CardDetails-CardName-infoLabel {
    font-size: 18px;
    font-weight: 600;
}

.CardDetails-CardName-infoName {
    font-size: 16px;
}

.CardDetails-Image {
    overflow: hidden; /* Ensure child elements don't overflow */
}

.CardDetails-Image-Card {
    width: 230px;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}