.CardDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(2px);
}

.CardDetails-content {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px 20px 26px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 800px;
    min-height: 300px;
    overflow: hidden; /* Prevent content overflow */
    animation: pop-up 0.4s;
}

.CardDetails-close {
    cursor: pointer;
    z-index: 1;
}

.CardDetails-info {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.CardDetails-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4px 0px;
}

.CardDetails-buttons {
    display: flex;
    gap: 12px;
}

.CardDetails-Image{
    border: 2px solid #3d3b3f;
    padding: 6px;
    border-radius: 8px;
    display: flex;
}
.CardDetails-Image > img{
    width: 230px;
}

.CardDetails-body{
    display: flex;
    gap: 20px;
}

.CardDetails-DuRiu > img{
    width: 30px;
    height: 30px;
    z-index: 1;
}

.CardDetails-DuRiu{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: black;
}

.CardDetails-head{
    display: flex;
    justify-content: space-between;
}

.CardDetails-Feature{
    display: flex;
    gap: 10px;
    align-items: center;
}

.CardDetails-CardName-infoLabel{
    font-size: 20px;
    font-weight: 500;
}

.CardDetails-CardName-infoName{
    font-size: 18px;
}

.card-price-iframe {
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
    border: 1px solid #979797;
    border-radius: 4px;
}

@keyframes pop-up {
    0% {
        transform: scale(0.7);
    }
    40% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1.0);
    }
}