.DealDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(1px);
}

.DealDetails-content {
    position: relative;
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-height: 300px;
    overflow: hidden; /* Prevent content overflow */
}

.DealDetails-close {
    cursor: pointer;
    z-index: 1;
}

.DealDetails-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.DealDetails-body{
    display: flex;
    gap: 30px;
}

.DealDetails-DuRiu{
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: blueviolet;
}

.DealDetails-head{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.DealDetails-img{
    background-size: cover;
    width: 211px;
    height: 307px;
}

.DealDetails-pic-preview{
    border: 3px solid rgb(199, 199, 199);
    padding: 8px;
    border-radius: 8px;
}

.DealDetails-details-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.DealDetails-details{
    display: flex;
    gap: 10px;
}

.DealDetails-label{
    font-size: 25px;
    font-weight: 500;
}
.DealDetails-info{
    font-size: 20px;
    align-self: center;
}
.DealDetails-name-info{
    font-size: 20px;
}
.DealDetails-bottom{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}

.DealDetails-bottom-price{
    display: flex;
    gap: 5px;
}

.DealDetails-bottom-price > div{
    font-size: 30px;
    font-weight: 500;
    align-self: center;
    color: rgb(218,159,7);
}
.DealDetails-bottom-price > span > svg{
    width: 30px;
}

.DealDetails-bottom-cancel{
    background-color: white;
    color: blueviolet;
    border: 3px solid blueviolet;
}
.DealDetails-bottom-cancel:hover{
    background-color: rgb(218, 218, 218);
    color: rgb(127, 54, 196);
    border: 3px solid rgb(113, 36, 185);
}

.DealDetails-bottom-buttons{
    display: flex;
    gap: 15px;
}
