.DealDetails {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(1px);
}

.DealDetails-content {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px 20px 26px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    flex-direction: column;
    max-height: 800px;
    min-height: 300px;
    gap: 16px;
    overflow: hidden; /* Prevent content overflow */
}

.DealDetails-close {
    cursor: pointer;
    z-index: 1;
}

.DealDetails-sell-user {
    font-weight: 500;
    font-size: 20px;
}

.DealDetails-info {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.DealDetails-body{
    display: flex;
    gap: 30px;
}

.DealDetails-DuRiu{
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: blueviolet;
}

.DealDetails-head{
    display: flex;
}

.DealDetails-img{
    background-size: cover;
    width: 211px;
    height: 307px;
}

.DealDetails-pic-preview{
    border: 2px solid #3d3b3f;
    padding: 6px;
    border-radius: 8px;
}

.DealDetails-details-container{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 4px 0px;
}

.DealDetails-details{
    display: flex;
    gap: 8px;
    align-items: center;
}

.DealDetails-label{
    font-size: 20px;
    font-weight: 500;
}
.DealDetails-info{
    font-size: 18px;
    align-self: center;
}
.DealDetails-name-info{
    font-size: 18px;
}
.DealDetails-bottom{
    display: flex;
    justify-content: flex-end;    
}

.DealDetails-bottom-price{
    display: flex;
    gap: 6px;
    font-size: 24px;
    font-weight: 600;
}

.DealDetails-bottom-price > div{
    font-size: 30px;
    font-weight: 500;
    align-self: center;
    color: rgb(218,159,7);
}
.DealDetails-bottom-price > span > svg{
    width: 30px;
}

.DealDetails-bottom-cancel{
    background: white;
    color: #7400CC;
}
.DealDetails-bottom-cancel:hover{
    color: #7400CC;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.DealDetails-bottom-buttons{
    display: flex;
    gap: 15px;
}

.DealDetails-details-body-head{
    display: flex;
    gap: 10px;
}

.DealDetails-details-body-body{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.DealDetails-name-info-date{
    font-size: 14px;
    display: flex;
    gap: 8px;
}