.Gacha-pack-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(3px);
}

.Gacha-pack-display-img{
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}