.Gacha-pack-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: background-blur 0.5s forwards;
}

@keyframes background-blur{
    from{backdrop-filter: blur(0px); background: rgba(255, 255, 255, 0);}
    to{backdrop-filter: blur(3px); background: rgba(0, 0, 0, 0.4);}
}

.Gacha-pack-pop{
    animation: popping 0.5s;
}

.Gacha-pack-display-img{
    width: 375px;
    height: 600px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
    animation: fadezoomout 0.5s linear;
    background-size: cover;
}

@keyframes fadezoomout{
    from{opacity: 0; transform: scale(1.5) ;}
    to{opacity: 1; transform: scale(1);}
}

@keyframes popping{
    from{opacity: 1; transform: scale(1) ;}
    to{opacity: 0; transform: scale(1.2);}
}