.Gacha-pack-display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    animation: background-blur 0.5s forwards;
}

@keyframes background-blur{
    from{backdrop-filter: blur(0px); background: rgba(255, 255, 255, 0);}
    to{backdrop-filter: blur(3px); background: rgba(0, 0, 0, 0.6);}
}
.Gacha-pack-display-img{
    width: 375px;
    height: 600px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.2);
    animation: fadezoomout 0.5s linear;
    background-size: cover;
    cursor: pointer;
    border-radius: 8px;
}

.Gacha-pack-display-img:hover {
    transform: scale(1.01);
}

@keyframes fadezoomout{
    from{opacity: 0; transform: scale(1.5) ;}
    to{opacity: 1; transform: scale(1);}
}

@keyframes popping{
    from{opacity: 1; transform: scale(1) ;}
    to{opacity: 0; transform: scale(1.5);}
}

@keyframes pop-fade-zoom-in{
    0%{transform: scale(0.7); opacity: 0.3;}
    50%{transform: scale(1.08); opacity: 1;}
    100%{transform: scale(1); opacity: 1;}
}

.Gacha-pack-pop{
    animation: popping 0.5s linear;
}


.Gacha-pack-card-flip{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    backdrop-filter: blur(3px)
}

.Gacha-pack-card-flip-wrapper{
    width: 1180px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.Gacha-pack-card-flip-wrapper > span{
    font-size: 25px;
    font-weight: 600;
}

.Gacha-pack-card{
    width: 191px;
    height: 279px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Gacha-pack-card-flip-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.Gacha-pack-card-flip-close{
    background-color: white;
    color: #7400CC;
}

.Gacha-pack-card-flip-close:hover{
    background-color: white;
    color: #7400CC;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.Gacha-pack-card-flip-skip-wrapper{
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 10px;
    right: 10px;
}
.Gacha-pack-card-flip-single-card{
    position: relative;
    animation: pop-fade-zoom-in 0.3s linear forwards;

}
.Gacha-pack-card-flip-single-card:hover{
    transform: scale(1.03);
}

.Gacha-pack-cards-back{
    position: relative;
    width: 191px;
    height: 279px;
}

.Gacha-pack-cards-back-wrapper{
    width: 191px;
    height: 279px;
}

.Gacha-pack-card-front{
    position: relative;
    width: 191px;
    height: 279px;
}

.Gacha-pack-card-front-wrapper{
    position: absolute;
}

.Gacha-pack-card-rarity{
    bottom: 0px;
    left: 0px;
    position: absolute;
    transform: scale(1.3);
}



