.Slider-Container-LeftArrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 10px;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
    color: white;
}

.Slider-Container-RightArrow{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 10px;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
    color: white;
}

.Slider-Container{
    width: 760px;
    height: 240px;
    position: relative;
}

.Slider-Container-dotsParent{
    display: flex;
    justify-content: center;
    gap: 5px;
    color: white;
    transform: translate(0, -90%);
    cursor: pointer;
    font-size: 25px;
}
