#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

body {
    padding: 0;
    margin: 0;
}

.footer-section {
    width: 100%;
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 24px 112px;
    background: rgb(247, 247, 247);
    gap: 24px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DCDCDC;
    padding: 24px;
    gap: 48px;
}

.footer-left-container {
    display: flex;
    gap: 48px;
}

.footer-right-container {
    display: flex;
    gap: 48px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-col-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
}

.footer-options {
    margin: 0;
    font-size: 14px;
    color: #979797;
    cursor: pointer;
    text-decoration: none;
}

.footer-options:hover {
    color: rgb(0, 154, 244);
    text-decoration: none;
}

.social-medias {
    display: flex;
    gap: 10px;
    align-items: center;
}

.techs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.techs-rows {
    display: flex;
    gap: 12px;
}

.line {
    background-color: #DCDCDC;
    height: 1px;
    width: 100%;
}

.text-footer {
    color: #979797;
    font-size: 14px;
    margin: 0;
}

.copy-right {
    padding: 0px 24px;
}

.links {
    color: rgb(93, 0, 233);
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}

.links:hover {
    text-decoration: underline;
}



/* Icon defination here: */

.icon-20 {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-32 {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 4px;
}

.facebook {
    background-image: url('./../asset/facebook.svg');
}

.youtube {
    background-image: url('./../asset/youtube.svg');
}

.github {
    background-image: url('./../asset/github.svg');
}

.discord {
    background-image: url('./../asset/discord.svg');
}

.react {
    background-image: url('./../asset/React-icon.svg.png');
}

.dotnet {
    background-image: url('./../asset/Microsoft_.NET_logo.svg.png');
}

.sqlServer {
    background-image: url('./../asset/microsoft-sql-server-logo-vector.svg');
}

.html {
    background-image: url('./../asset/HTML5_logo_and_wordmark.svg.png');
}

.css {
    background-image: url('./../asset/CSS3_logo_and_wordmark.svg.png');
}

.js {
    background-image: url('./../asset/JavaScript-logo.png');
}

.csharp {
    background-image: url('./../asset/Logo_C_sharp.svg.png');
}

.back-card {
    background-image: url('./../asset/back-card.png');
    z-index: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    
    
}

.front-card {
    background: white;
    padding: 28px 38px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 64px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-image: url('./../asset/front-card.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 397px 580px;
}

/*define sizes*/

.xl {
    width: 397px;
    height: 580px;
    border-radius: 8px;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

