@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 80px;
  background: rgb(116, 0, 204);
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  min-width:max-content;
  padding: 0px 12px;
}

.button {
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 80px;
  background: rgb(116, 0, 204);
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  min-width:max-content;
  padding: 0px 12px;
}

.button:hover {
  background: rgb(100, 0, 176);
}

button:hover {
  background: rgb(100, 0, 176);
}

.button-2 {
  background: white;
  color: #7400CC;
}

.button-2:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  background: white;
}

a {
  color: unset;
  text-decoration: none;
}

p {
  margin: 0;
}

input {
  padding: 0px 8px;
  border: none;
  border-bottom: 2px solid #979797;
  background-color: white;
  border-radius: 4px 4px 0px 0px;
  outline: none;
}

input:focus {
  outline: none;
  border-bottom: 2px solid rgb(146, 0, 174);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

body {
  padding: 0;
  margin: 0;
}

.main-view {
  width: 100%;
}

.social-medias {
  display: flex;
  gap: 10px;
  align-items: center;
}

.techs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.techs-rows {
  display: flex;
  gap: 12px;
}

.line {
  background-color: #dcdcdc;
  height: 1px;
  width: 100%;
}

.line-2 {
  background-color: #58555b;
  height: 1px;
  width: 100%;
}

.text-footer {
  color: #979797;
  font-size: 14px;
  margin: 0;
}

.copy-right {
  padding: 0px 24px;
}

.links {
  color: #7400CC;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
  z-index: 3;
}

.links:hover {
  text-decoration: underline;
}

/* Icon defination here: */
.gap-32 {
  gap: 32px !important;
}

.icon-20 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-32 {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 4px;
}

.facebook {
  background-image: url("./../asset/facebook.svg");
}

.youtube {
  background-image: url("./../asset/youtube.svg");
}

.github {
  background-image: url("./../asset/github.svg");
}

.discord {
  background-image: url("./../asset/discord.svg");
}

.react {
  background-image: url("./../asset/React-icon.svg.png");
}

.dotnet {
  background-image: url("./../asset/Microsoft_.NET_logo.svg.png");
}

.sqlServer {
  background-image: url("./../asset/microsoft-sql-server-logo-vector.svg");
}

.html {
  background-image: url("./../asset/HTML5_logo_and_wordmark.svg.png");
}

.css {
  background-image: url("./../asset/CSS3_logo_and_wordmark.svg.png");
}

.js {
  background-image: url("./../asset/JavaScript-logo.png");
}

.csharp {
  background-image: url("./../asset/Logo_C_sharp.svg.png");
}

.back-card {
  background-image: url("./../asset/back-card.png");
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  backface-visibility: hidden;
}

.front-card {
  padding: 28px 38px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-image: url("./../asset/front-card.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 397px 580px;
}

.xl {
  width: 397px;
  height: 580px;
  border-radius: 8px;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.link {
  color: #7400CC;
  font-weight: 500;
  font-size: 16px;
}

.link:hover {
  text-decoration: underline;
}

.no-data-text {
  width: 100%;
  text-align: center;
  color: #58555b;
}

.loading-screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.loading-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
}

.loading-icon {
  background-image: url('././../asset/loadingIcon.svg');
  width: 80px;
  height: 80px;
  display: flex;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: spin 2s infinite;
}

.loading-text {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  } 100% {
    transform: rotateZ(360deg);
  }
}