@media ( width < 870px) {
  .duriu-logo-name {
    display: none;
  }
}

.logo-container {
  display: flex;
  gap: 14px;
  align-items: center;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  left: 0;
}

.duriu-logo-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  min-width: max-content;
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.logo-container:hover {
  text-decoration: none;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
}
