.logo-container {
  display: flex;
  gap: 14px;
  align-items: center;
  text-decoration: none;
}

.duriu-logo-name {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}

.logo-container:hover {
  text-decoration: none;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
}