.NapRiuCoinAll {
  width: 100%;
}

.logoDuRiuCoin {
  display: flex;
  padding: 20px 40px;
}

.HeaderRiuCoin {
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.2);
}

.BodyRiuCoin {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.top-up-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow the NapTien divs to wrap to the next line on smaller screens */
  justify-content: flex-end;
  /* Adjust as needed for your layout */
}

.NapTien {
  margin: 10px;
  /* Add some spacing between the NapTien divs */
  width: 100%;
  /* Make each NapTien div take the full width of its container */
  position: relative;

  @media (min-width: 700px) {
    /* Adjust the styles for screens wider than 576px */
    width: 42%;
    /* Two NapTien divs per row */
  }

  @media (min-width: 1000px) {
    /* Adjust the styles for screens wider than 768px */
    width: 30%;
    /* Three NapTien divs per row */
  }
}

.RiuCoinAmount{
  position: absolute;
  font-size: 30px;
  color: white;
  padding-left: 100px;
  padding-top: 25px;
  z-index: 1;
}

.Cost{
  position: absolute;
  font-size: 25px;
  color: black;
  padding-left: 215px;
  padding-top: 27px;
  z-index: 2;
}