.NapRiuCoinAll {
  width: 100%;
}

.logoDuRiuCoin {
  display: flex;
  padding: 20px 40px;
}

.HeaderRiuCoin {
  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.2);
}

.BodyRiuCoin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 100px;
  gap: 30px;
}

.top-up-container {
  width: 100%;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  /* Allow the NapTien divs to wrap to the next line on smaller screens */
  justify-content: center;
  /* Adjust as needed for your layout */
  gap: 12px;
}

.NapTien {
  margin: 10px;
  width: 330px;
  height: 90px;
  background-image: url('../asset/RiuCoin.svg');
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  cursor: pointer;
}

.NapTien:hover {
  transform: scale(1.03);
}

.RiuCoinAmount{
  font-size: 30px;
  color: white;
  z-index: 1;
}

.NapTienRiuCoinIcon{
  width: 39px;
  height: 39px;
  z-index: 1;
}

.Cost{
  font-size: 25px;
  color: black;
  z-index: 0;
  text-align: center;
  width: 100px;
  height: 35px;
  background-image: url('../asset/RiuCoinRectangle.svg');
}

.NapTienVaRiuCoin{
  display: flex;
  gap: 10px;
}

.QRcode-container{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
}

.QRcode{
  background-image: url("../asset/QRcodeRiuCoin.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}

.QRcodeManual-head{
  font-size: 40px;
  font-weight: 700;
}

.QRcodeManual-body{
  font-size: 20px;
}

.QRcodeManual-bottom{
  font-size: 12px;
}


