
.toast-container {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 24px;
    position: fixed;
    left: 12px;
    bottom: 28px;
    z-index: 10;
    background: white;
    padding: 0px 48px 0px 16px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    animation: fade-in 0.3s linear;
}

.toast-close {
    animation: fade-out 0.5s linear;
}

.toast-error {
    background: rgb(255, 213, 213);
    border: 2px solid red;
    color: red;
}

.toast-success {
    border: 2px solid green;
    color: green;
    background: rgb(202, 255, 202);
}

.toast-close-icon {
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.toast-message {
    margin: 0;
}

@keyframes fade-in {
    from {
        transform: translateX(-200px);
    } to {
        transform: translateX(0px);
    }
}

@keyframes fade-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}