.user-all-deals-deal {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 12px 12px 14px 12px;
    border: 1px solid #979797;
    width: 200px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.user-all-deals-deal:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.user-all-deals-deal-img {
    width: 100%;
}

.add-new-deal {
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 999px;
    cursor: pointer;
}

.add-new-deal:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.edit-delete-deal {
    display: flex;
    gap: 4px;
    position: absolute;
    top: -14px;
    right: 10px;
    z-index: 1;
}

.edit-delete-icon-wrapper {
    padding: 4px;
    display: flex;
    border-radius: 4px;
    background: white;
}

.user-deals-management-options {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.deal-modal-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
}

.deal-modal-container {
    position: relative;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    max-width: 840px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: pop-up 0.4s;
}

.deal-modal-title {
    font-size: 24px;
    font-weight: 700;
}

.deal-modal-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deal-modal-card-choser {
    display: flex;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    max-height: 360px;
    overflow-y: auto;
    flex-wrap: wrap;
    border: 1px solid #979797;
}

.deal-modal-card-choser::-webkit-scrollbar {
    width: 10px;
}

.deal-modal-card-choser::-webkit-scrollbar-thumb {
    background: #979797;
    border-radius: 8px;
}

.deal-modal-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.deal-modal-card-img {
    width: 92px;
    cursor: pointer;
}

.deal-modal-card-wrapper {
    display: flex;
    border-radius: 4px;
    border: 1px solid #979797;
    padding: 2px;
    position: relative;
}

.deal-modal-card-wrapper:hover {
    transform: scale(1.05);
}

.chosen-card-for-deal {
    transform: scale(0.9);
}

.chosen-card-icon {
    position: absolute;
    top: 2px;
    right: 2px;
    background: white;
    border-radius: 50%;
}

.deal-modal-inputs {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.deal-price-wrapper {
    width: 360px;
}

@keyframes pop-up {
    0% {
        transform: scale(0.7);
    }
    40% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1.0);
    }
}